* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.container {
  width: 1440px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 60px 58px 43px;
}

.menu_1,
.menu_2 {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.menu_2 .menu__item {
  margin-right: 30px;
}

.menu__item {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  text-decoration: none;
  padding-bottom: 6px;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}

.menu__item:hover,
.menu__item.active {
  color: #e51937;
}

.item1 {
  margin-right: 63px;
}
.item2 {
  margin-right: 25px;
}
.item3 {
  margin-right: 44px;
}
.item4 {
  margin-right: 46px;
}

.tesla__title {
  text-align: center;
  background-image: url(../img/Tesla-Wordmark-Red.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 467px;
  margin-bottom: 153px;
}

.tesla__title h1,
.tesla__title p {
  padding: 0;
  margin: 0;
  color: #000;
  font-style: normal;
}

.tesla__title h1 {
  font-size: 90px;
  font-weight: 600;
  line-height: 110px;
}

.tesla__title p {
  font-size: 15px;
  font-weight: 500;
  line-height: 9px;
}
.tesla__logo {
  max-width: 968px;
  position: absolute;
  top: 278px;
  margin-left: 199px;
}

.tesla__info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 37px;
}

.info__block {
  display: flex;
  align-items: center;
  margin-right: 81px;
}

.info__block-img-speed {
  width: 46px;
  margin-right: 14px;
}

.info__block-img-road {
  height: 50px;
  width: 31px;
  margin-right: 11px;
  margin-top: 10px;
}

.info__block-text1 {
  font-size: 35px;
  font-weight: 600;
  line-height: 43px;
}

.info__block-text1 span {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  vertical-align: middle;
}

.info__block-text2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.test__drive {
  min-height: 22px;
  display: flex;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  text-transform: uppercase;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-right: 40px;
  margin-left: 24px;
  cursor: pointer;
}

.test__drive img {
  margin-right: 7px;
}
.order {
  width: 160px;
  height: 40px;
  color: #e51937;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border: 2px solid #e51937;
  cursor: pointer;
}

.go__bottom {
  text-align: center;
  display: block;
}

/* Main */
.main {
  margin-top: 37px;

  color: #fff;
}
.main__inner {
  height: 900px;
  border-top: 1px solid #e51937;
  background-image: url(../img/2013-tesla-model-s-cockpit.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.left-section h2 {
  margin-left: 80px;
  margin-top: 64px;
  color: #e51937;
  font-size: 70px;
  font-weight: 600;
  line-height: 85px;
}
.right-section {
  width: 440px;
  background: #e51937;
  padding: 51px 44px 63px 52px;
}
.main-top {
}

.main-top h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.main-top p {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  margin: 11px 0px 54px 0px;
}

.features__box {
}
.features {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
.features__img {
  align-self: center;
  margin-right: 19px;
}
.features__text-box {
}
.features__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.features__accent {
  font-size: 35px;
  font-weight: 600;
  line-height: 43px;
}
.features__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}
.main-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}
.information {
  display: flex;
  align-items: center;
  margin-right: 22px;
}
.information__icon {
  border: 2px solid #fff;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  text-align: center;
  margin-right: 10px;
}
.information__text {
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.information__text a {
  text-decoration: none;
  color: #fff;
}
.inverse__button {
  color: #fff;
  border-color: #fff;
}
